@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #f9ebc7;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	overflow: hidden;
	background-color: #5f6f52;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.navbar-one {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
}

.navbar-one a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.navbar a {
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Lora', serif;
}

.navbar a.right {
	padding: 14px 20px;
}

.navbar a.right:hover {
	background-color: #a9b388;
	color: black;
}

/* PixlHunt logo */
#logo-nav {
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 100%;
	text-align: center;
	justify-content: center;
	gap: 25px;
}

section {
	width: 100%;
}

/* category.html*/
.first-category {
	padding: 40px;
	font-family: 'Playfair Display', serif;
	background-color: #a9b388;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	cursor: default;
	background-image: url(./media2/category/categoryHeader.png);
}

.food,
.artgallery,
.attraction{
	background-color: #A9B388;
	cursor: default;
	width: 90%;
  	box-shadow: 0px 0px 12px rgb(167, 212, 130), 0px 0px 12px rgb(167, 212, 130);
	border-radius: 5px;
	font-family: 'Kaisei Tokumin', serif;
}

.food-title,
.artgallery-title,
.attraction-title{
	text-align: left;
	display: flex;
	justify-content:left;
	flex-direction: column;
	padding: 40px 40px 0px 40px;
}

.food-details,
.artgallery-details,
.attraction-details{
	display: flex;
	gap: 10%;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.food video,
.artgallery video,
.attraction video{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 280px;
  border-radius: 5px;
  transition: transform .2s;
}

.food video:hover,
.artgallery video:hover,
.attraction video:hover{
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
}

.food h3,
.artgallery h3,
.attraction h3{
	align-items:flex-start;
	padding: 10px 40px;
	text-align: left;
}

.food a,
.artgallery a,
.attraction a{
	padding: 10px 40px;
	display: flex;
	justify-content:left;
	flex-direction: column;
	text-decoration: none;
}

iframe{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 5px;
}

/* contactUs.html */
.first-contactUs {
	padding: 40px;
	font-family: 'Playfair Display', serif;
	background-color: #a9b388;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	cursor: default;
	background-image: url(./media2/contactUs/contactUsHeader.png);
}

.container2{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	gap: 25px;
	margin-top: 30px;
}

.feedback{
	padding-top: 30px;
	background-color: #A9B388;
	cursor: default;
	width: 90%;
  	box-shadow: 0px 0px 12px rgb(167, 212, 130), 0px 0px 12px rgb(167, 212, 130);
	border-radius: 5px;
	font-family: 'Kaisei Tokumin', serif;
}

.feedback h2{
	text-align: center;
}

.form-center{
    display: flex;
    justify-content: center; 
}

.form1 label{
    width: 100px;
    display: inline-block;
	
	align-items: left;
} 

.form1 input,
.form1 textarea {
	width: 20rem;
	background: white;
	font-family: 'Montserrat', serif;
	border-radius: 15px;
	padding: 10px 30px;
	text-decoration: none;
	border: none;
	color: black;
}

.rating {
	position: relative;
	width: 180px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .3em;
	padding: 5px;
	overflow: hidden;
 }
 
.rating__result {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-10px) translateX(-5px);
	z-index: -9;
	font: 3em Arial, Helvetica, sans-serif;
	color: #ebebeb8e;
	pointer-events: none;
 }
 
.rating__star {
font-size: 1.3em;
cursor: pointer;
color: #000000;
transition: filter linear .3s;
}

.ratingSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.notice{
	text-align: right;

	padding: 50px 30px;
}

/* aboutus.html */
.first {
	padding: 40px;
	font-family: 'Playfair Display', serif;
  background-image: url(./media/aboutUsHeader.png);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	cursor: default;
}

.header {
	text-align: center;
	font-size: 20px;
	z-index: 1;
}

.para {
	display: flex;
	text-align: center;
	font-size: 15px;
	z-index: 1;
	padding: 10px 10rem;
	font-family: 'Kaisei Tokumin', serif;
}

.second {
	display: flex;
	gap: 10%;
	justify-content: center;
	align-items: center;
	padding: 40px;
	text-align: left;
	font-family: 'Kaisei Tokumin', serif;
	background-color: #5f6f52;
	cursor: default;
	width: 90%;
  box-shadow: 0px 0px 12px rgb(167, 212, 130), 0px 0px 12px rgb(167, 212, 130);
	border-radius: 5px;
}

.header2 {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	font-family: 'Playfair Display', serif;
}

.header2 p {
	font-family: 'Kaisei Tokumin', serif;
	font-size: 15px;
	inline-size: 145px;
}

.content-second {
	width: 50%;
	font-size: 15px;
	cursor: default;
}

.second-sdg {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.second-sdg-details {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.second-sdg img {
	width: 100px;
}

.third {
	padding: 40px;
	font-family: 'Playfair Display', serif;
	background-color: #a9b388;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 90%;
  box-shadow: 0px 0px 12px rgb(160, 191, 136), 0px 0px 12px rgb(160, 191, 136);
	border-radius: 5px;
}

.third-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.third h1 {
	cursor: default;
}

.third-news h3 {
	width: 50%;
	text-align: left;
	cursor: default;
	font-family: 'Kaisei Tokumin', serif;
	font-size: 18px;
}

.third-news form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.third-news form input {
	width: 20rem;
	background: white;
	font-family: 'Montserrat', serif;
}

.text {
	border-radius: 15px;
	padding: 10px 30px;
	text-decoration: none;
	border: none;
	color: black;
}

.button {
	background-color: #5f6f52;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	width: 8rem;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.button:hover {
	background-color: #7b8d6c;
	color: white;
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 250px;
	background-color: #7b8d6c;
  font-family: 'Lora', serif;
	color: black;
	margin-top: 30px;
}

footer h2 {
	font-size: 18px;
}

footer h3 {
	font-size: 15px;
  font-weight: lighter;
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: default;
}

.footer-info-a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.footer-info-a h3 a {
	text-decoration: none;
	color: black;
  font-weight: lighter;
}

.separator {
	height: 85%;
	width: 1px;
	background-color: black;
}

.footer-socials {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	cursor: default;
}

.footer-socials-media img {
  display: flex;
	justify-content: center;
	width: 20px;
}

.footer-socials-media {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.socials-media-insta img,
.socials-media-insta-second img {
	width: 60px;
	border-radius: 5px;
}

.socials-media-insta {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-media-insta-second {
  display: flex;
	justify-content: center;
	align-items: center;
}

.footer-contact {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
	cursor: default;
}

.footer-contact-email img {
	width: 20px;
}

.footer-contact-email {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-left: 3px;
}

.footer-contact-phone img {
	width: 20px;
}

.footer-contact-phone {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	gap: 30px;
	padding-left: 3px;
}

/* poppykat.html */
.content-desc {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url(./media/poppykat2.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
	cursor: default;
}

.para-header {
	text-align: center;
	font-size: 20px;
	z-index: 1;
	height: 40%;
}

.para-desc {
	display: flex;
	text-align: center;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 10rem;
	color: white;
	font-weight: 500;
	height: 100%;
	width: 100%;
}

.para-desc p {
  font-family: 'Kaisei Tokumin', serif;
}

/* features */
.content-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 40px;
	font-family: 'Playfair Display', serif;
	background-color: #b99470;
	width: 90%;
	box-shadow: 0px 0px 12px rgb(235, 158, 71), 0px 0px 12px rgb(235, 158, 71);
	border-radius: 5px;
}

.content-features h1 {
	cursor: default;
}

.features-images {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: inherit;
	padding: 15px 0px;
	gap: 10px;
}

.features-images h3 {
	cursor: default;
	font-size: 18px;
  font-family: 'Kaisei Tokumin', serif;
}

.features-images p {
  font-family: 'Kaisei Tokumin', serif;
	inline-size: 280px;
	overflow-wrap: break-word;
	text-align: left;
	cursor: default;
	font-size: 15px;
}

.features-images img {
	width: 100%;
	border-radius: 5px;
}

#features-images-first-slide,
#features-images-second-slide,
#features-images-third-slide,
#features-images-first-slide-fb,
#features-images-second-slide-fb,
#features-images-third-slide-fb,
#features-images-first-slide-ig,
#features-images-second-slide-ig,
#features-images-third-slide-ig,
#features-images-first-slide-bm,
#features-images-second-slide-bm,
#features-images-third-slide-bm,
#features-images-first-slide-sunway,
#features-images-second-slide-sunway,
#features-images-third-slide-sunway,
#features-images-first-slide-rollerwa,
#features-images-second-slide-rollerwa,
#features-images-third-slide-rollerwa {
  opacity: 1;
	transition: all 0.3s ease-in-out;
}

.features-images-first {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}

.features-images-second {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}

.features-images-third {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}

.image-holders-first {
	height: 100px;
	width: 100px;
	display: flex;
}

#prev,
#prev2,
#prev3,
#prev-fb,
#prev2-fb,
#prev3-fb,
#prev-ig,
#prev2-ig,
#prev3-ig,
#prev-bm,
#prev2-bm,
#prev3-bm,
#prev-sunway,
#prev2-sunway,
#prev3-sunway,
#prev-rollerwa,
#prev2-rollerwa,
#prev3-rollerwa,
#prevButton,
#prevHomeButton {
	width: 20px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-30px, -50%);
}

#next,
#next2,
#next3,
#next-fb,
#next2-fb,
#next3-fb,
#next-ig,
#next2-ig,
#next3-ig,
#next-sunway,
#next2-sunway,
#next3-sunway,
#next-rollerwa,
#next2-rollerwa,
#next3-rollerwa,
#next-bm,
#next2-bm,
#next3-bm,
#nextButton,
#nextHomeButton {
	width: 20px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(30px, -50%);
}

.arrow-holders-first {
	position: relative;
	height: 100px;
	width: 100px;
}

.arrow-holders-second {
	position: relative;
	height: 100px;
	width: 100px;
}

.arrow-holders-third {
	position: relative;
	height: 100px;
	width: 100px;
}

.arrow {
	position: absolute;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

/* details */
.content-details {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 40px;
	text-align: left;
	font-family: 'Playfair Display', serif;
	background-color: #c4661f;
	flex-direction: column;
	width: 90%;
	box-shadow: 0px 0px 12px rgb(235, 158, 71), 0px 0px 12px rgb(235, 158, 71);
	border-radius: 5px;
}

.content-details h1 {
	cursor: default;
}

.details-locTime {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.details-locTime img {
	width: 20px;
}

.details-contact {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
	cursor: default;
}

.details-contact h3 {
  font-family: 'Kaisei Tokumin', serif;
}

.details-contact p {
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
}

.details-contact-email {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-left: 3px;
	text-align: left;
}

.details-contact-phone {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-left: 3px;
	text-align: left;
}

.details-contact-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-left: 3px;
	text-align: left;
}

.details-contact-socials a {
	text-decoration: none;
	color: black;
}

/* our review */
.content-review {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 40px;
	text-align: left;
	font-family: 'Playfair Display', serif;
	background-color: #b99470;
	flex-direction: column;
	width: 90%;
	box-shadow: 0px 0px 12px rgb(235, 158, 71), 0px 0px 12px rgb(235, 158, 71);
	border-radius: 5px;
}

.content-review h1 {
	margin-bottom: 20px;
	cursor: default;
}

.review-images {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 100%;
}

.review-images p {
	inline-size: 300px;
	cursor: default;
  font-family: 'Kaisei Tokumin', serif;
}

.review-images-first {
	position: relative;
	margin-right: 20%;
}

.image-holders-first-review {
	height: 300px;
	width: 300px;
	display: flex;
}

#review-images-first-slide {
	border-radius: 10px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.arrow-holders-review {
	position: relative;
	height: 100px;
	width: 100px;
}

/* code for the day */
.content-code {
	padding: 30px;
	font-family: 'Playfair Display', serif;
	background-color: #c4661f;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	cursor: default;
	width: 90%;
	box-shadow: 0px 0px 12px rgb(235, 158, 71), 0px 0px 12px rgb(235, 158, 71);
	border-radius: 5px;
}

.content-code p {
  font-family: 'Kaisei Tokumin', serif;
}

.code-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-image: url('./media/ticket.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	padding: 0.625rem;
	font-family: 'Lucida Sans';
	cursor: default;
}

.code-copy-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 5px;
}

.off {
	inline-size: 2rem;
	overflow-wrap: break-word;
	flex-shrink: 1;
	padding-right: 5px;
	flex-basis: 23%;
	font-family: 'Montserrat', sans-serif;
}

#code-for-today {
	flex-basis: 75%;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

/*when screen gets smaller*/
@media only screen and (max-width: 663px) {
	.off {
		font-size: 14px;
	}

	#code-for-today {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
  .first h1 {
    font-size: 25px;
  }

  .first p {
    font-size: 13px;
  }
  
	.second {
		flex-direction: column;
		gap: 20px;
	}

	.content-second {
		width: 100%;
	}

	.para {
		text-align: center;
	}

  .para p {
    inline-size: 500px;
  }

  .header2 h2 {
    font-size: 25px;
  }
  
  .header2 p {
    font-size: 13px;
  }

  .content-second p {
    font-size: 13px;
  }

  .third h1 {
    font-size: 25px;
  }
  
  .third-news h3 {
    inline-size: 200px;
    font-size: 15px;
  }

  .third-news form {
    padding-right: 5px;
    width: 56%;
  }

	.para-desc {
		padding: 10px;
	}

  .para-desc p {
    font-size: 13px;
  }

	.features-images-first {
		padding: 10px;
	}

	.features-images-second {
		padding: 10px;
	}

	.features-images-third {
		padding: 10px;
	}

  .features-images p {
    font-size: 13px;
    inline-size: 160px;
  }

	.review-images {
		flex-direction: column;
	}

  .review-images p {
    font-size: 13px;
  }

	.review-images-first {
		margin: 0;
	}

  .content-code p {
    font-size: 13px;
  }

  .details-contact h3 {
    font-size: 14px;
  }

  .details-locTime p {
    font-size: 12px;
  }

  .details-locTime {
    justify-content: space-evenly;
  }

  .details-contact {
    justify-content: flex-start;
  }
}

/*when screen gets bigger*/
@media only screen and (min-width: 768px) {
	.off {
		font-size: 34px;
		flex-basis: 23%;
		padding-left: 15px;
	}

	#code-for-today {
		font-size: 34px;
		flex-basis: 78%;
	}
}

@media only screen and (min-width: 1000px) {
	.image-holders-first,
	.image-holders-second,
	.image-holders-third {
		width: 250px;
		height: 250px;
	}

	.arrow-holders-first,
	.arrow-holders-second,
	.arrow-holders-third {
		width: 250px;
		height: 250px;
	}
}

@media only screen and (min-width: 1125px) {
	.code-image {
		width: 500px;
	}
}

/* fowlboys.html */
.content-desc-fb {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url(./media/fowlboys.jpg);
	background-repeat: no-repeat;
	background-size: 100% 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
}

.content-desc-fb h1 {
	color: white;
}

/* ilhamGallery.html */
.content-desc-ig {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url(./media2//ilhamGallery/igHeader.png);
	background-repeat: no-repeat;
	background-size: 100% 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
}

.content-desc-ig h1 {
	color: white;
}

/* bnmMag.html */
.content-desc-bm {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url(./media2/bnmMag/bmHeader.png);
	background-repeat: no-repeat;
	background-size: 100% 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
}

.content-desc-bm h1 {
	color: white;
}

/* index.html */
.main-content {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 100%;
	text-align: center;
	justify-content: center;
	gap: 25px;
}

.content-desc-index {
padding-top: 40px;
font-family: 'Playfair Display', serif;
background-image: url("./imagesIndex/kl_background_2.jpg");
background-repeat: no-repeat; 
background-size: 100% 170%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
width: 100%;
height: 350px;
cursor: default;
}

.content-header {
  text-align: center;
  z-index: 1;
  height: 40%;
}

.content-header h3 {
  color: white;  
}

.content-header h1 {
  font-size: 50px;
  color: white; 
}

.content-details-index {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 40px;
  background-color: #f9ebc7;
  width: 100%;
  border-radius: 5px;
  cursor: default;
  font-family: 'Kaisei Tokumin', serif;
}

.column1 {
  border-radius: 10px;
  background-color: #c4661f;
  padding: 40px;
  width: 420px;
  height: 350px;
}

.column1-text {
  font-size: 13px;
}

.column2 {
border-radius: 10px;
background-color: #b99470;
padding: 40px;
width: 420px;
height: 350px;
}

.column2-text {
  font-size: 13px;
}

.column3 {
border-radius: 10px;
background-color: #c4661f;
padding: 40px;
width: 420px;
height: 350px;
}

.column3-text {
  font-size: 13px;
}

/*slideshow homepage*/
.content-slideshow {
  display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 40px;
	text-align: left;
	font-family: 'Playfair Display', serif;
	background-color: #783d19;
	flex-direction: column;
	width: 90%;
	box-shadow: 0px 0px 12px rgb(235, 158, 71), 0px 0px 12px rgb(235, 158, 71);
	border-radius: 5px;
}

.content-slideshow h2 {
  margin-bottom: 20px;
  cursor: default;
}

.homepage-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.homepage-images p {
  inline-size: 300px;
  cursor: default;
  font-family: 'Kaisei Tokumin', serif;
}

.homepage-images-first {
  position: relative;
  margin-left: 20%;
}

.image-holders-first-homepage {
	height: 300px;
	width: 300px;
	display: flex;
}

#homepage-images-first-slide {
    border-radius: 10px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.arrow-holders-homepage {
    position: relative;
    height: 100px;
    width: 100px;
}

/* sunway.html */
.content-desc-sunway {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url("./imagesSunway/new.jpg");
	background-repeat: no-repeat;
	background-size: 100% 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
}

.content-desc-sunway h1 {
	color: white;
}

/* Rollerwa.html */
.content-desc-rollerwa {
	padding-top: 40px;
	font-family: 'Playfair Display', serif;
	background-image: url("./imagesRollerwa/bg_rollerwa.jpg");
	background-repeat: no-repeat;
	background-size: 100% 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 350px;
}

.content-desc-rollerwa h1 {
	color: white;
}
